<p id="notice"><%= notice %></p>

<h1>Messages</h1>

<div>
    <hr />
    <a href="<%= messages_path %>">All Messages</a> |
    <a href="<%= messages_path(filter: 'me') %>">My Messages</a> |
    <strong><a class="btn btn-primary" href="<%= new_message_path %>" role="button">Add a Message</a></strong>
</div>

<% @messages.each do |message| %>
  <div class="card-body">
    <hr />
    <p class="card-text"><%= message.entry %></p>
    <p class="card-text">
        <small class="text-muted">
            <span class="text-muted">Added <%= message.created_at.to_s(:short) %> by <%= message.name %></span>
        </small>
    </p>
  </div>
<% end %>
