<p id="notice"><%= notice %></p>

<div>
  <% if user_signed_in? %>
    <li><%= link_to 'Logout', destroy_user_session_path, method: :delete %></li>
  <% else %>
    <li><%= link_to 'Log in', new_user_session_path %></li>
  <% end %>
</div>

<div>Visit <%= link_to 'admin', admin_root_path %> area</div>

<h1>Messages</h1>

<div>
    <hr />
    <a href="<%= messages_path %>">All Messages</a> |
    <a href="<%= messages_path(filter: 'me') %>">My Messages</a> |
    <strong><a class="btn btn-primary" href="<%= new_message_path %>" role="button">Add a Message</a></strong>
</div>

<% @messages.each do |message| %>
  <% if !message.hidden %>
    <div class="card-body">
      <hr />
      <p class="card-text"><%= message.entry %></p>
      <p class="card-text">
          <small class="text-muted">
              <span class="text-muted">Added <%= message.created_at.to_s(:short) %> by <%= message.name %></span>
          </small>
      </p>
    </div>
  <% end %>
<% end %>
